@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using CotacolApp.Services.Extensions

@if (Cotacol != null) {
    <GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>
}
else
{
    <span><em>Loading map...</em></span>
}


@code {
    [Parameter]
    public UserClimb Cotacol { get; set; }

    private GoogleMap map1;
    private MapOptions mapOptions;
    private MapService _mapService = new MapService();

    protected override async Task OnInitializedAsync()
    {
        mapOptions = await _mapService.GetLayoutAsync(true);
        await base.OnInitializedAsync();
    }
    
    private async Task OnAfterMapInit()
    {
        await _mapService.ShowClimbAsync(map1, Cotacol, true);
    }
}