@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using CotacolApp.Services.Extensions
@using CotacolApp.Services.Maps
@inject IJSRuntime JsRuntime
@inject IMapService MapService

@if (Cotacol != null)
{
    <GoogleMap @ref="@_googleMap" Id="map1" Options="@_mapOptions" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>
}
else
{
    <span>
        <em>Loading map...</em>
    </span>
}


@code {

    [Parameter]
    public UserClimb Cotacol { get; set; }

    private GoogleMap _googleMap;
    private MapOptions _mapOptions;

    protected override async Task OnInitializedAsync()
    {
        _mapOptions = await MapService.GetLayoutAsync(true);
        await base.OnInitializedAsync();
    }

    private async Task OnAfterMapInit()
    {
        await MapService.ShowClimbAsync(_googleMap.InteropObject, JsRuntime, Cotacol, new MapLayout
        {
            CenterMap = true, RedrawNeeded = true, 
            ShowStartFinish = true, ShowPolylines = true, 
            SingleClimb = true
        }); //true, true, true);
    }

}