@page "/"
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using System.Security.Claims
@using Cotacol.Website.Interfaces
@inject IUserProfileManager ProfileManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="@displayMessage"/>

@if (ProfileManager.IsAuthenticated )
{
    <ul>
        @foreach (var claim in ProfileManager.GetCurrentClaims())
        {
            <li>@claim.Type - @claim.Value</li>
        }
    </ul>
}

@code
{
    string displayMessage = "loading";

    

    protected override async Task OnInitializedAsync()
    {
        if (ProfileManager.IsAuthenticated)
        {
            // Since the user is a ClaimsPrincipal, you can also enumerate claims,
            // evaluate membership in roles, etc.
            displayMessage = ProfileManager.FullName;
        }
        else
        {
            displayMessage = "You're not logged in.";
        }
    }
}