@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Log in with Strava.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                <button type="submit" class="btn" name="Strava" value="Strava" title="Log in using your Strava account"><img src="../../../images/strava-login.png" asp-append-version="true" /></button>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
