@page "/admin/dashboard"
@using MatBlazor
@inject IUserProfileManager UserProfile
@attribute [Authorize]
<h3>Admin dashboard</h3>
@if (UserProfile.IsAdmin)
{
<MatList>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>
                <a href="https://dfm-cotacol-hunting.azurewebsites.net/cotacolprd/orchestrations/@@cotacolmetadataentity@@CotacolMetadataEntity" target="_blank">Col metadata</a>
            </MatListItemPrimaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>
                <a href="https://dfm-cotacol-hunting.azurewebsites.net/cotacolprd/orchestrations/@@strava@@RateLimitStateEntity" target="_blank">Strava Rate limit Entity</a>
            </MatListItemPrimaryText>
        </MatListItemText>
    </MatListItem>
    <MatListItem>
        <MatListItemText>
            <MatListItemPrimaryText>
                <a href="https://dfm-cotacol-hunting.azurewebsites.net/cotacolprd/?orderByDirection=asc&timeFrom=2022-05-26T12%3A00%3A00.000Z&filteredColumn=instanceId&filterOperator=Contains&filterValue=UserHistorySyncWorkflow&showStatuses=%5B%22Running%22%2C%22Pending%22%5D">Running sync workflows</a>
            </MatListItemPrimaryText>
        </MatListItemText>
    </MatListItem>
</MatList>
}
@code {

}