@page "/about"

<h1>About</h1>
<h2>Cotacol encyclopedia</h2>

<div>The COTACOL is a belgian reference book about cycling uphill, made by Daniel Gobert and Jean-Pierre Legros in 1989. In it are descriptions of the thousand toughest climbs for cyclists.</div>
<div>Each climb is described by several facts: name, a short description, height, grade, length, what state the road surface is in, average climbing time for an amateur or a professional road cyclist.</div>
<div>The combined authors measured 1.869.800 km, rode up a height of 112.396 meters and measured nearly 30.000 data points to compose this book. Each hill has a so-called COTACOL score. This score is determined using several parameters: grade, length, road surface. A higher score means a tougher climb.</div>
     
<h2>The technology</h2>
<div>More than 30 years later, some cycling & tech enthousiast virtually got together and built apps, web sites and integrated with Strava, so that the modern cyclist can now plan rides to conquer as much Cotacols as possible and automatically flag them when integrating with Strava.</div>
<div>Credits to plenty of people who made this possible, by contributing their personal time, because of a passion for technology &amp; cycling:</div>
<ul>
    <li><b>Bert Nijs</b>: our master data guy, or our data master guy.  It all started from his original google map</li>
    <li><b>Eneko Illarramendi</b>: Python guru and site builder for the cotacol.cc interactive site</li>
    <li><b>Glenn Versweyveld</b>: Building the Android app, supported by Kris</li>
    <li><b>Kris Boonefaes</b>: the driving force behind the actual iOS app</li>
    <li><b>Simone Chiaretta</b>: he got me involved with the team and built the data backend for the Strava segments</li>
    <li><b>Sam Vanhoutte (myself)</b>: developed the Strava Backend integration and built this web site.</li>
</ul>

@code {
    
}