@page "/climbs"
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Cotacol: the list" />

<h1>Climbs</h1>

<p class="lektonic">1000 Cotacol climbs for you to conquer.</p>

<ClimbListComponent Mode="@ClimbViewMode.Table"></ClimbListComponent>