@page "/climbs"
@page "/climbs/{UserId}"
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Cotacol: the list" />

<h1>Climbs</h1>

<p class="lektonic">1000 Cotacol climbs for you to conquer.</p>

<ClimbListComponent Mode="@ClimbViewMode.Table" UserId="@UserId"></ClimbListComponent>

@code {

    [Parameter]
    public string UserId { get; set; }

}