@page "/map"
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Cotacol: the map" />

<h1>The big map</h1>

<p class="lektonic">1000 Cotacol climbs for you to conquer.</p>

<ClimbListComponent Mode="@ClimbViewMode.Map"></ClimbListComponent>