@page "/"
@using MatBlazor
@inject IUserProfileManager UserProfile
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="Cotacol.cc"/>

<h1>Your Cotacol Bucket list</h1>

@if (UserProfile.IsAuthenticated)
{
    <CotacolSyncComponent/>
}
else
{
    <a class="nav-link text-dark" href="@UserProfile.GetLoginLink()">Enable strava integration for the full experience !</a>
}

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-4">
            @if (UserProfile.IsAuthenticated)
            {
                <h2>Your year in a Pic</h2>
                <span style="text-align: center; display: block; ">
                    <a href="img/year/@UserProfile.UserId" target="_blank"><img src="img/year/@UserProfile.UserId" style="width: 90%"/></a>
                </span>
                <p class="lektonic">Share you achievements with your friends on social media!</p>
            }
            <h2>How it all started</h2>
            <p class="lektonic">The COTACOL is a belgian reference book about cycling uphill, made by Daniel Gobert and Jean-Pierre Legros in 1989. In it are descriptions of the thousand toughest climbs for cyclists.</p>
            <p class="lektonic">Each climb is described by several facts: name, a short description, height, grade, length, what state the road surface is in, average climbing time for an amateur or a professional road cyclist.</p>
            <p class="lektonic">The combined authors measured <strong>1.869.800 km</strong>, rode up a height of <strong>112.396 meters</strong> and measured nearly <strong>30.000 data points</strong> to compose this book. Each hill has a so-called COTACOL score. This score is determined using several parameters: grade, length, road surface. A higher score means a tougher climb.</p>
            <p class="lektonic">More than 30 years later, some cycling &amp; tech enthousiasts virtually got together and built apps, web sites and integrated with Strava, so that the modern cyclist can now plan rides to conquer as much Cotacols as possible and automatically flag them when integrating with Strava.</p>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-4">
            @* <HomeStatsComponent/> *@
            <p class="lektonic" style="color: darkred">
                Some of you may have noticed some synchronization problems between Strava and Cotacol. We are well aware of this, but it's good to share an intermediate update.
            </p>
            <ul>
                <li>Most importantly: keep on cycling. If it's on strava, it will eventually be in your cotacol account.</li>
                <li>We are aware that the stats/leader boards are not being updated, and that is due to some underlying changes we are making, in order to make our backend cope with the growing number of users.</li>
                <li>Some users are impacted by a bug in the Microsoft cloud system (durable functions, for the geeks), which stops their activities to be synced. In order to fix this, we need some manual intervention, so we ask you to contact us (sam@cotacol.cc), so we can undertake those actions. What we need is your strava athlete is (your user id), so please include that in your email.</li>
            </ul>
            <p class="lektonic" style="color: darkred">
                Please respect and appreciate this is a voluntary project where we are not gaining any money (instead, it costs us money), so support is typically done in between our daily tasks. At the same time, I also want to stress that we feel appreciated and respected and you are being patient and understanding, so thanks for that.
            </p>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-align-top mat-layout-grid-cell-span-2">
            <h2>Apps</h2>
            <div style="align-items: center">
                <a href="https://apps.apple.com/be/app/cotacol/id1526464862" target="_blank">
                    <img src="images/apple-store.png" style="width: 80px; align-items: center"/>
                </a>
                <p class="lektonic">Install iOS App</p>
            </div>
            <p/>
            <div style="align-items: center">
                <a href="https://play.google.com/store/apps/details?id=be.cotacolhunting.COTACOL" target="_blank">
                    <img src="images/google-play.png" style="width: 80px; align-items: center"/>
                </a>
                <p class="lektonic">Install Android App</p>
            </div>
        </div>
    </div>
</div>