@page "/stravabusy"
<h3>Strava is too busy</h3>

<table>
    <tr>
        <td>
            We seem to be too successful and have too many users synchronizing at this point.  <br/>
            Therefore, it is not possible to authenticate with Strava (because of their Rate Limits).  <br/>
            We apologize for this and hope to find a better solution (for example by scheduling syncs at night). <br/>
            Please try again later today or tomorrow.
        </td>
        <td>
            <img src="images/strava-fail.png" style="width: 200px"/>
        </td>
    </tr>
</table>
@code {
    
}