@using CotacolApp.Services
@using Microsoft.AspNetCore.Identity
@using CotacolApp.Models.Identity
@using Microsoft.AspNetCore.Http
@inject UserManager<CotacolUser> UserManager
@inject IHttpContextAccessor ContextAccessor
<AuthorizeView>
    <Authorized>
        Hello <a href="Identity/Account/Manage"><img src="@GetProfilePicture().Result" width="32" alt="Edit profile picture"/></a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @* <a href="Identity/Account/Register">Register</a> *@
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    private async Task<string> GetProfilePicture()
    {
        var user = await UserManager.GetUserAsync(ContextAccessor.HttpContext.User);
        return $"{user.ProfilePicture}";
    }
}