@using AeroBlazor.Theming
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@using Cotacol.Website.Models.Settings
@inject ICotacolUserClient CotacolUserClient
@inject IUserProfileManager UserProfile
@inject IOptions<CotacolApiSettings> ApiSettings
@inject IHttpContextAccessor HttpContextAccessor
<AuthorizeView>
    <Authorized>
        <AeroFlexContainer RightAlign="true">
            @if (uniqueCols > 0)
            {
                <span>
                    <MudIcon Icon="@Icons.Material.Filled.BarChart"></MudIcon>
                </span>
                <span>
                    <MudText Typo="Typo.body1">@uniqueCols cols</MudText>
                </span>
                <span>
                    <MudIcon Icon="@Icons.Material.Filled.Numbers"></MudIcon>
                </span>
                <span>
                    <MudText Typo="Typo.body1">@totalPoints.Number() pts</MudText>
                </span>
            }
            <AeroDivider Minimal="true" Type="AeroDividerType.Horizontal"></AeroDivider>
            <MudLink Href="settings" Color="Color.Secondary" Typo="Typo.body1">Settings</MudLink>
            <MudLink Href="signout" Color="Color.Secondary" Typo="Typo.body1">Log out</MudLink>
        </AeroFlexContainer>
    </Authorized>
    <NotAuthorized>
        <AeroFlexContainer RightAlign="true">
            <StravaLogin/>
        </AeroFlexContainer>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int uniqueCols = -1;
    private int totalPoints = -1;


    protected override async Task OnInitializedAsync()
    {
        if (uniqueCols < 0 && !string.IsNullOrEmpty(UserProfile?.UserId))
        {
            try
            {
                var stats = await CotacolUserClient.GetAchievementsAsync(UserProfile.UserId);
                uniqueCols = stats.UniqueCols;
                totalPoints = stats.TotalScore;
            }
            catch (Exception e)
            {
                Console.WriteLine(e.ToString());
            }
        }

        await base.OnInitializedAsync();
    }

}