@* @using AeroBlazor.Theming *@
@using AeroBlazor.Theming
@inherits LayoutComponentBase
@inject IThemeManager ThemeManager
<CascadingValue Value="this">
    <MudThemeProvider DefaultScrollbar="true" IsDarkMode="false" Theme="@ThemeManager.CurrentTheme"/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <MudPopoverProvider/>
    <PageTitle>Cotacol.cc</PageTitle>

    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="top-row pl-4 navbar navbar-dark">
                <MudGrid Spacing="0">
                    <MudItem md="6" xs="12">
                        <MudText Typo="Typo.h1" Align="Align.Left">@Title</MudText>
                    </MudItem>
                    <MudItem md="6" xs="12">
                        <LoginDisplay/>
                    </MudItem>
                </MudGrid>
            </div>
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <div style="width: 100%; margin-left:20px;margin-right:20px;">
                        <article class="content px-4">
                            @Body
                        </article>
                    </div>
                </MudItem>
            </MudGrid>
        </main>
    </div>
</CascadingValue>

@code{

    private string title = "Cotacol";

    public string Title
    {
        get => title;
        set
        {
            title = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

}