@using AeroBlazor.Theming
@inject IUserProfileManager UserProfile
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="images/cotacol-logo-white-small.png"/>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" style="width: 30px"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map">
                <span class="oi oi-map" aria-hidden="true" style="width: 30px"></span> The map
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="climbs">
                <img src="images/climb-icon-white.png"/>&nbsp;The list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="achievements">
                <span class="oi oi-star" aria-hidden="true" style="width: 30px"></span> My Achievements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="badges">
                <span class="oi oi-shield" aria-hidden="true" style="width: 30px"></span> Badges 
            </NavLink>
        </li>               
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <span class="oi oi-timer" aria-hidden="true" style="width: 30px"></span> My activities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleStatsmenu">
                <span class="oi oi-bar-chart" aria-hidden="true" style="width: 30px"></span> Statistics
            </NavLink>
        </li>
        @if (expandStats)
        {
            <li class="nav-item px-5" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="stats">
                    <span class="oi oi-people" aria-hidden="true" style="width: 30px"></span> Rankings
                </NavLink>
            </li>
            <li class="nav-item px-5" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="colstats">
                    <span class="oi oi-flag" aria-hidden="true" style="width: 30px"></span> Col stats
                </NavLink>
            </li>
            <li class="nav-item px-5" @onclick="ToggleNavMenu">
                <NavLink class="nav-link" href="activitystats">
                    <span class="oi oi-pulse" aria-hidden="true" style="width: 30px"></span> Activities
                </NavLink>
            </li>
        }
        @if (UserProfile.IsAdmin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link text-danger" @onclick="ToggleAdminmenu">
                    <span class="iconify" data-icon="dashicons:admin-tools" data-inline="false" style="width: 30px"></span> Admin section
                </NavLink>
            </li>
            @if (expandAdmin)
            {
                <li class="nav-item px-5">
                    <NavLink class="nav-link" href="admin/dashboard">
                        <span class="oi oi-pulse" aria-hidden="true" style="width: 30px"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" href="admin/segments">
                        <span class="oi oi-map" aria-hidden="true" style="width: 30px"></span> Segments
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="oi oi-people" aria-hidden="true" style="width: 30px"></span> Users admin
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" href="admin/support">
                        <span class="oi oi-chat" aria-hidden="true" style="width: 30px"></span> Support cases
                    </NavLink>
                </li>
            }
        }
    </ul>
    <div class="sticky-bottom-div">
        <AeroDivider Type="AeroDividerType.Blank"></AeroDivider>
        <AeroFlexContainer Stretch="true" FullWidth="true">
            <MudButton FullWidth="true" Color="Color.Secondary" Href="support" Variant="Variant.Filled">- Need help? -</MudButton>
        </AeroFlexContainer>
    </div>
    
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandStats = false;
    private bool expandAdmin = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleStatsmenu()
    {
        expandStats = !expandStats;
    }

    private void ToggleAdminmenu()
    {
        expandAdmin = !expandAdmin;
    }

}