@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: Cooper;
    src: url(../fonts/cooper_light_bt-webfont.ttf);
}

@font-face {
    font-family: Lekton;
    src: url(../fonts/lekton-regular.ttf);
}

@font-face {
    font-family: Merkury;
    src: url(../fonts/merkury_bold.otf);
}


html, body {
    font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
    color: #100C08;
    background-color: #F9F1E6;
}

h1 {
    font-family: 'Merkury', serif;
    text-transform: uppercase;
    margin-top: 6px;
    font-weight: bold;
    margin-bottom: 6px;
}
h2 {
    font-family: 'Cooper', serif;
    color: #999999;
    margin-top: 6px;
    margin-bottom: 3px;
}
h3 {
    font-family: 'Merkury', serif;
    color: #FD7D7A;
    margin-top: 6px;
    margin-bottom: 3px;
}

a, .btn-link {
    font-family: 'Lekton', sans-serif;
    font-size: medium;
    color: #0366d6;
}
.lektonic {
    font-family: 'Lekton', serif;
    color: #000000;
}

.lektonicgrey {
    font-family: 'Lekton', serif;
    color: #666666;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    width: 100vw;
    height: 100vh;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.cctooltip {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    border-bottom:0px dashed #000; /* little indicater to indicate it's hoverable */
}

.cctooltip:before {
    content: attr(data-text); /* here's the magic */
    position:absolute;
    z-index: 2;

    /* vertically center */
    top:50%;
    transform:translateY(-50%);

    /* move to right */
    /*left:100%;*/
    margin-left:15px; /* and add a small left margin */

    /* basic styles */
    width:200px;
    padding:10px;
    border-radius:10px;
    background:#000;
    color: #fff;
    text-align:center;

    /* the arrow */
    border:10px solid #000;
    border-color: transparent black transparent transparent;

    display:none; /* hide by default */

    opacity:0;
    transition:.3s opacity;
}

.cctooltip:after {
    content: "";
    position:absolute;
    z-index: 2;
    /* position tooltip correctly */
    /*left:100%;*/
    margin-left:-5px;

    /* vertically center */
    top:50%;
    transform:translateY(-50%);

    /* the arrow */
    border:10px solid #000;
    border-color: transparent black transparent transparent;

    display:none;

    opacity:0;
    transition:.3s;
}
.cctooltip:hover:before, .cctooltip:hover:after {
    display:block;
    opacity:1;
}